*{
	margin: 0;
	padding: 0;
}




#heading
{
	margin: 10px 40px;
	font-size:4.5rem;
	color: #fff;
}

html, body{
	height: 100%;
}

.container{
	height: 100%;
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	background: url("black.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
p{
margin:5px;
padding: 3px;
}
h2{
margin:5px;
paddiing: 5px;
font-size:25px;
}
@media screen and ( max-width: 1024px ) {
.container span { width: auto; }
.container span {height: 300px;}
}
@media screen and ( min-width: 1025px) {
.container span { width: auto;}

}

@media screen and ( max-width: 1024px ) {
.container .first { width: auto; }
.container .first {height: 300px;}
}
@media screen and ( min-width: 1025px) {
.container .first { width: auto;}

}


.container span{
color: #fff;
font-size: 1.5vw;
font-family: arial;
background: rgba(0, 0, 0, 0.7);
padding: 10px;
position: absolute;
left: 55%;
right : 8%;

bottom: 10%;
top: 17%;
}
h2
	{
		font-size:2.2rem;
	}
	p
	{
		font-size: 1.3rem;
	}
.container .first{
color: #fff;
font-size: 1.5vw;
font-family: arial;
background: rgba(0, 0, 0, 0.7);
padding: 10px;
position: absolute;
left: 8%;
right : 55%;

bottom: 10%;
top: 17%;
}
@media screen and (max-width: 600px) {
	h2
	{
		font-size:1rem;
		margin:10px auto;
	}
	p
	{
		font-size: .6rem;
	}
	.container span{
color: #fff;
/*font-size: 1.5vw;*/
font-family: arial;
background: rgba(0, 0, 0, 0.7);
padding: 10px;
position: absolute;
left: 50%;
right : 3%;
bottom: 10%;
top: 17%;
}

.container .first{
color: #fff;
/*font-size: 1.5vw;*/
font-family: arial;
background: rgba(0, 0, 0, 0.7);
padding: 10px;
position: absolute;
left: 2%;
right : 51%;

bottom: 10%;
top: 17%;
}
#heading
{
	margin: 10px 40px;
	font-size:3.8rem;
	color: #fff;
}
}



