
body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}


a{
	text-decoration: none;
}
.app-picture
  {
  	position: absolute;
  	top:14vh;
  	right:0px;
  	z-index:-1; 
  
  }
  .app-picture img
  {
  		width:65vw;
  		height: 65vh;
  }

#container-fluid{
          
          height: 100vh;
          background-image: url("cosmos2.jpg");
          background-position: center centre;
          background-repeat: no-repeat;
          background-size: cover;
          margin-bottom: 0;
          padding-bottom: 0;          
}

.menu{
         width:100%;
         background: #000;
         opacity: 70%;
}

.menu ul{
	display: inline-flex;
	margin: 30px;
	
}

.menu ul li{
	list-style: none;
	margin: 0px 20px;
	color: #fff;
	font-size: 1.2rem;
	cursor: pointer;
}

.signup-btn{
	top: 25px;
	right: 50px;
	position: absolute;
	text-decoration: none;
	color: #fff;
	font-size: 1rem;
	border: 2px solid transparent;
	border-radius: 20px;
	background-image: linear-gradient(#000, #000), radial-gradient(circle at top left, #e60909, #ff5e00);
	background-origin: border-box;
	background-clip: content-box, border-box;
}

.signup-btn span{
	display: block;
	padding: 8px 22px;
}


.app-text h1{
	font-size: 4rem;
	border-bottom : 1px solid red;
}

.app-text h1 .dot{
  height: 20px;
  width: 20px;
  background-color: #eb0707;
  border-radius: 50%;
  display: inline-block;
}

.app-text p{
	font-size: 1.62rem;
	/*line-height: 25px;*/
	color: #919191;
}

.app-picture{
	width: 50%;
	float: left;
}

.app-picture img{
	width: 100%;
	margin-top: -20px;
	padding-left: 50px;
}

.play-btn{
	margin-left: 40px;
	display: inline-flex;
}

.play-btn-inner{
	height: 50px;
	width: 50px;
	border: 2px solid transparent;
	border-radius: 50%;
	background-image: linear-gradient(#000, #000), radial-gradient(circle at top left, #e60909, #ff5e00);
	background-origin: border-box;
	background-clip: content-box, border-box;
	text-align: center;
}

.play-btn-inner .fa{
	padding: 18px 0;
	font-size: 13px;
	cursor: pointer;
}

small{
	margin: auto 10px;
	
	font-size: 18px;
	color: #ff5e00;
	letter-spacing: 1px;
}

.social-icons{
	right: 72px;
	bottom: 35px;
	position: absolute;
}

.social-icons ul li{
	list-style: none;
	margin-top: 15px;
	text-align: center;
}

.social-icons ul li a{
	color: #999;
	border-radius: 50%;
	border: 1px solid #999;
	padding: 5px;
	display: block;
}
@media only screen and (max-width:900px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
  .container-fluid .banner .app-picture img
  {
  	width:90%; 
  	height: 75vh;
  }
  .menu ul li{
	
	font-size: 1rem;
	
}
.signup-btn{
	top: 25px;
	right: 50px;
	position: absolute;
	font-size: .81rem;
}
.app-text h1{
	font-size: 3rem;
	margin-left: 40px;
	border-bottom : 1px solid red;
	width: 55%;
}
.app-text p{
	font-size: 1.2rem;
	margin: 30px 0 30px 46px;
	line-height: 25px;
}
.app-picture
  {
  	display: none;
  	}
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
  #main-content
	{
		display: flex;
		flex-direction: column;
	}
  .container-fluid .banner .app-picture img
  {
  	display: none;
  }
  .banner{
	width:100%;
	
	color: #fff;
}

.menu ul
{
	padding: 0;
}
.menu ul li{
	
	font-size: .8rem;
	margin: 10px 6px;
	
}
.signup-btn{
	top: 35px;
	right: 5px;
	position: absolute;
	font-size: .6rem;
}
.app-text h1{
	font-size: 2rem;
	margin: 0;
	border-bottom : 1px solid red;
}
.app-text p{
	font-size: 1rem;
	margin: 0;
}
.play-btn-inner{
	height: 30px;
	width: 30px;
	
}

.play-btn-inner .fa{
	padding: 9px 0;
	font-size: 10px;
	cursor: pointer;
}
.social-icons{
	display: flex;
	position: relative;
	top:40px;
	right: 25px;	
	margin: 0 auto;
}
.social-icons ul
{
	align-items: center;
	justify-content: center;
	display: flex;
	margin:0 auto;
}
.social-icons ul li{
	list-style: none;
	margin: 10px;
}

}