     .bg
      {
        background: url("bg.jpeg");
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .navbar{
          position:sticky;
          cursor: pointer;
        }
    .navbar1 a
    {
        color: #fff;
        font-size: 1.6rem;
        margin: 10px 20px;
    }
    .logo{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img{
  width: 40%;
  height: 17vh;
}
.rightNav{
  width: 50%;
  padding: 0 23px;
  text-align: right;

  text-align: right;
}
.btn_search{
  padding: 8px 20px;
  margin: 7px 3px;
  border: 2px solid white;
  border-radius: 8px;
  font-size: 12px;
  background: none;
  color: white;
  cursor: pointer;

}
.btn a{
  text-decoration: none;
  color: white;
}
.btn a:hover{
    text-decoration: none;
    color: blue;
}
.nav_list li a:hover{
    text-decoration: none;
    color: grey;
}
.text_big{
  font-size: 7rem;
  color: #fff;
}
.buttons .btn
{
  padding: 8px 20px;
  margin: 7px 3px;
  border: 2px solid white;
  border-radius: 8px;
  font-size: 16px;
  background: none;
  color: white;
  cursor: pointer;

}
/*---------------------------------------form------------------------------------------------*/
input[type=text],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  .form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  /*------------------------------------------------------footer social media icons--------------------------------------------------------------*/

.fa {
    padding: 20px;
    font-size: 1.5rem;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-google {
    background: #dd4b39;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }
   .fa-bars
{
  font-size: 2rem;
  color: red;
}
@media screen and (max-width: 600px) {
    .logo{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img{
  width: 20vw;
  height: 20vh;
}
.text_big{
  font-size: 5rem;
  color: #fff;
}
.fa {
    padding:10px;
    font-size: 1.3rem;
    text-align: center;
    text-decoration: none;
    margin:5px 10px;
  }
  .logo img{
  width: 25vw;
  height: 17vh;
}
}