
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: url(img/debugging.jpg);
    background-size: cover;
    background-position: center;
   
    overflow: hidden;
}

.logo1{
    width: 10vw;
    cursor: pointer;
    height: 12vh;   
}
.logo2{
    width: 7vw;
    cursor: pointer;
    height: 12vh;   
}


.mybutton{
    color: #fbfcfd;
    padding: 10px 30px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    margin: 20px 10px;

}
.content{
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}

.content h1{
    font-size: 4rem;
    margin: 10px 0 30px;
    line-height: 80px;
    color: #fff;
    font-family: cursive;
}
.content small
{
    font-size: 1.5rem;
}
.side-bar{
    width: 50px;
    height: 100vh;
    background: linear-gradient(#00545d, #000729);
    position: absolute;
    right: 0;
    top: 0;


}





.bubbles img{
    width: 50px;
    animation: bubble 6s linear infinite;
}

.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
   

}

@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        
        opacity: 1;
    }
    70%{
        
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }

}


.bubbles img:nth-child(1){
    width:25px;
    animation-delay: 2s;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
}
.bubbles img:nth-child(3){
    width:25px;
    animation-delay: 3s;
}
.bubbles img:nth-child(4){
    animation-delay: 0.5s;
}
.bubbles img:nth-child(5){
    animation-delay: 3s;
}
.bubbles img:nth-child(6){
    width:20px;
    animation-delay: 0.25s;
     
}
.bubbles img:nth-child(7){
    width:35px;
    animation-delay: 1s;
     
}
a{
    color: white;
}

@media (max-width: 767px) {
h1{
    font-size: 2em; 
}
}
@media screen  and (max-width: 550px){
    
    .content h1{
    font-size: 3rem;
    margin: 10px 0 30px;
    line-height: 40px;
    
    }
    .content small
    {
        font-size: 1.5rem;
    }
   .logo1{
    width: 30vw;
    cursor: pointer;
    height: 12vh;   
}
.logo2{
    width: 20vw;
    cursor: pointer;
    height: 12vh;   
}
}


/*css for event coordinators*/
.bgimage
{
    background-image: url("oriental-tiles.png");
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 1000px;
    
}

#eventCoordinators h4,h1{
    color: orange;

}

/*css for winners section*/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.back{   
            width: 100%;
            height: 100vh;
            background-image: url(img/win.jpg);
            background-size: cover;
            background-position: center;
            position: relative;
            overflow: hidden;
            background-size: 100% 100%;
      }
#win h3,h1{
    font-size: 30px;
    margin: 50px 0 30px;
    line-height: 20px;
    font-family: cursive;
    text-align: center;
    }
    
}

#win h3{
    color: teal;
    font-size: 25px;
    }
  @media (max-width: 767px) {
.Overall{
  margin-top: 100px;
}
}
@media (min-width: 768px) and (max-width: 992px) {
  .Overall{
  margin-top: 100px;
}
}



/*about section*/
.backg{
     width: 100%;
    height: 80vh;
     background-image: url(img/desktop.jpg);
    background-size: cover;
    background-position: center;
     position: relative;
    overflow: hidden;
}
.para{
    color: darkblue;
    font-family: cursive;
    text-align: left;
}
.para p
{
    font-size: 1.5rem;
}
.para h1{
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;
    font-family: cursive;
    color: #008080;
}




/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: #101522;
  padding: 0 0 25px 0;
  color: #eee;
  font-size: 14px;
}

#footer .footer-top {
  background: #040919;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 26px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #fff;
}

#footer .footer-top .footer-info img {
  height: 40px;
  margin-bottom: 10px;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #222636;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #f82249;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
  border-bottom: 2px solid #f82249;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 5px;
  color: #f82249;
  font-size: 18px;
}

#footer .footer-top .footer-links ul li {
  border-bottom: 1px solid #262c44;
  padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
  color: #f82249;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #f82249;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #e0072f;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #ddd;
}

/*--------------------------------------------------------------
# F.A.Q Section
--------------------------------------------------------------*/

#faq {
  padding: 60px 0;
}

#faq #faq-list {
  padding: 0;
  list-style: none;
}

#faq #faq-list li {
  border-bottom: 1px solid #ddd;
}

#faq #faq-list a {
  padding: 18px 0;
  display: block;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding-right: 20px;
}

#faq #faq-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 16px;
}

#faq #faq-list p {
  margin-bottom: 20px;
}

#faq #faq-list a.collapse {
  color: #f82249;
}

#faq #faq-list a.collapsed {
  color: #000;
}

#faq #faq-list a.collapsed i::before {
  content: "\f055" !important;
}
