
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: url(img/debugging.jpg);
    background-size: cover;
    background-position: center;
   
    overflow: hidden;
}

.logo{
    width: 8vw;
    cursor: pointer;
    height: 12vh;   
}


.mybutton{
    color: #fbfcfd;
    padding: 10px 30px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    margin: 20px 10px;

}
.content{
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}

.content h1{
    font-size: 4rem;
    margin: 10px 0 30px;
    line-height: 80px;
    color: #fff;
    font-family: cursive;
}
.content small
{
    font-size: 1.5rem;
}
.side-bar{
    width: 50px;
    height: 100vh;
    background: linear-gradient(#00545d, #000729);
    position: absolute;
    right: 0;
    top: 0;


}





.bubbles img{
    width: 50px;
    animation: bubble 6s linear infinite;
}

.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
   

}

@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        
        opacity: 1;
    }
    70%{
        
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }

}


.bubbles img:nth-child(1){
    width:25px;
    animation-delay: 2s;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
}
.bubbles img:nth-child(3){
    width:25px;
    animation-delay: 3s;
}
.bubbles img:nth-child(4){
    animation-delay: 0.5s;
}
.bubbles img:nth-child(5){
    animation-delay: 3s;
}
.bubbles img:nth-child(6){
    width:20px;
    animation-delay: 0.25s;
     
}
.bubbles img:nth-child(7){
    width:35px;
    animation-delay: 1s;
     
}
a{
    color: white;
}

@media (max-width: 767px) {
h1{
    font-size: 2em; 
}
}
@media screen  and (max-width: 550px){
    
    .content h1{
    font-size: 3rem;
    margin: 10px 0 30px;
    line-height: 40px;
    
    }
    .content small
    {
        font-size: 1.5rem;
    }
    .logo{
    width: 25vw;
    cursor: pointer;
    height: 12vh;   
}
}


/*css for event coordinators*/
.bgimage
{
    background-image: url("oriental-tiles.png");
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 1000px;
    
}

#eventCoordinators h4,h1{
    color: orange;

}

/*css for winners section*/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.back{   
            width: 100%;
            height: 100vh;
            background-image: url(img/win.jpg);
            background-size: cover;
            background-position: center;
            position: relative;
            overflow: hidden;
            background-size: 100% 100%;
      }
#win h3,h1{
    font-size: 30px;
    margin: 50px 0 30px;
    line-height: 20px;
    font-family: cursive;
    text-align: center;
    }
    
}

#win h3{
    color: teal;
    font-size: 25px;
    }
  @media (max-width: 767px) {
.Overall{
  margin-top: 100px;
}
}
@media (min-width: 768px) and (max-width: 992px) {
  .Overall{
  margin-top: 100px;
}
}
@media (min-width: 992px)  {}